venv/
env/
.venv/

.env

__pycache__/
*.pyc
*.pyo

models_checkpoint/
data/embeddings/

.vscode/
.idea/

.DS_Store
Thumbs.db

.streamlit/

/Data/Raw/JD/
/Data/Raw/Resumes_PDF/
/Data/Resume.csv
/Data/Processed/jd_dataset.csv
__pycache__/